* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family: "PingFangSC", "Source Sans Pro", sans-serif;
}

ul,
li {
    list-style     : none;
    text-decoration: none;
}